---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

// # #00458f dark blue
// # #455A64 light blue
// # #005CE6 
// # #0066cc soft blue
// # 1717a6 dark dark blue
// # https://coolors.co/001b48-02457a-018abe-97cadb-d8ebee
//     css:
//         primaryColor: "#97cadb"
//         accentColor: "#018abe"
//         lightBlue: "#d8ebee"
//         darkBlue: "02457a"
//         backgroundColor: "#001b48"
//         black: "#000"

$spacing-unit:     30px;

$text-color:       #97cadb;
$background-color: #000000;
$brand-color:      #018abe;
$theme-color-dark: #001b48;

$grey-color:       #d8ebee;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
