---
layout: default
---
<div class="home">

  <h1 class="page-heading">Raspberry Pi Wifi Access Point</h1>

  Simply using a raspberry pi, usb flash, and ethernet.
  
  <br>
  <h2 class="page-heading">Features</h2>
  <ul>
    <li><a href="/quickstart">Easy setup</a></li>
    <li>Low Power</li>
    <li>Highly Customizable</li>
    <li>Redundancy - easily replaceable components</li>
    <li>Extend any ethernet connection to wifi</li>
    <li>Reliably supported by an open source dev lifecycle</li>
  </ul>
  <br>



  <h1 class="page-heading">Recent Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
